<!-- page content -->
<div class="right_col" role="main">

    <div class="page-title">
        <div class="title_left">
            <h3>DashBoard</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="x_panel">
        <div class="x_title">
            <h6>Bienvenido a Sniffer UPB, aquí podrás monitorear lo que está pasando con tu trafico de Red.</h6>
            <div class="clearfix"></div>
        </div>

        <div class=" x_content">
            <div class="m-0 row">
                <div class="col">
                    <div class="card-box">
                        <div class="form-group row">
                            <div class="col align-self-center text-center">
                                <h4>Pulsa aquí para buscar las interfaces de red de tu computador</h4>
                                <form action="/tarjeta" method="get">
                                    <button type=" submit " id="interfaces " class="btn btn-success"><i class="fa fa-search "> </i>   Buscar</button>
                                </form>
                                </div>
                            <div class="col-sm-3">
                                <table class="table table-striped table-hover ">
                                    <thead>
                                        <tr>
                                            <th>Número</th>
                                            <th>Tarjeta de Red</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <% if (tarjetas) { %>
                                        <% for (var i = 0; i < tarjetas.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= tarjetas[i].id %>
                                    </td>
                                    <td>
                                        <%= tarjetas[i].nombre %>   
                                    </td>
                                </tr>
                                    <% } %>
                                <% }  %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>

                        <form class="m-0 was-validated " onsubmit="return false">
                            <h4>Configuración del Análisis de Red</h4>
                            <div class="m-0 form-group row ">
                                <div class="col-sm ">
                                    <select class="custom-select " id="ElegirInter" required>
                                              <option value="">Tarjeta de Red</option>
                                              <option value="1">Loopback </option>
                                              <option value="2">Ethernet</option>
                                              <option value="3">Wifi</option>
                                            </select>
                                    <div class="invalid-feedback ">Selecciona un intervalo de tiempo válido</div>
                                </div>
                                <div class="col-sm ">
                                    <select class="custom-select " id="tiempoDeter" required>
                                              <option value="">Tiempo de Análisis</option>
                                              <option value="0.5">30 segundos</option>
                                              <option value="1">1 minuto</option>
                                              <option value="3">3 minutos</option>
                                            </select>
                                    <div class="invalid-feedback ">Selecciona un intervalo de tiempo válido</div>
                                </div>
                                <div class="col-sm ">
                                    <button type="submit " onclick="getData()" id="aceptar" class="btn btn-success "><i class="fa fa-play-circle "> </i>   Empezar</button>
                                </div>
                                <div class="col-sm-4 ">
                                    <h2 id="tiempoRes"></h2>
                                </div>
                            </div>
                        </form>
                        <br>

                        <div class="row">
                            <div class="col">
                                <div id="printbar" class="m-0"></div>
                                <table id="datosRedes" class="table table-striped table-bordered dt-responsive" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Número</th>
                                            <th>Tipo de Protocolo</th>
                                            <th>MAC Origen</th>
                                            <th>MAC Destino</th>
                                            <th>Bytes Entregados</th>
                                            <th>Bytes Capturados</th>
                                            <th>IP Origen</th>
                                            <th>IP Destino</th>
                                            <th class="none">Trama</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>273</td>
                                            <td>00 CA 7F CD 00 00</td>
                                            <td>02 00 00 00 45 00</td>
                                            <td>206</td>
                                            <td>206</td>
                                            <td>239.255.255.250</td>
                                            <td>192.168.1.42</td>
                                            <td>02 00 00 00 45 00 00 CA 7F CC 00 00 01 11 00 00 C0 A8 01 2A EF FF FF FA DE 71 07 6C 00 B6 5F 20 4D 2D 53 45 41 52 43 48 20 2A 20 48 54 54 50 2F 31 2E 31 0D 0A 48 4F 53 54 3A 20 32 33 39 2E 32 35 35 2E 32 35
                                                35 2E 32 35 30 3A 31 39 30 30 0D 0A 4D 41 4E 3A 20 22 73 73 64 70 3A 64 69 73 63 6F 76 65 72 22 0D 0A 4D 58 3A 20 31 0D 0A 53 54 3A 20 75 72 6E 3A 64 69 61 6C 2D 6D 75 6C 74 69 73 63 72 65 65 6E 2D 6F 72
                                                67 3A 73 65 72 76 69 63 65 3A 64 69 61 6C 3A 31 0D 0A 55 53 45 52 2D 41 47 45 4E 54 3A 20 47 6F 6F 67 6C 65 20 43 68 72 6F 6D 65 2F 38 39 2E 30 2E 34 33 38 39 2E 31 </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>273</td>
                                            <td>00 CA 7F CD 00 00</td>
                                            <td>02 00 00 00 45 00</td>
                                            <td>206</td>
                                            <td>206</td>
                                            <td>239.255.255.250</td>
                                            <td>192.168.1.42</td>
                                            <td>02 00 00 00 45 00 00 CA 7F CC 00 00 01 11 00 00 C0 A8 01 2A EF FF FF FA DE 71 07 6C 00 B6 5F 20 4D 2D 53 45 41 52 43 48 20 2A 20 48 54 54 50 2F 31 2E 31 0D 0A 48 4F 53 54 3A 20 32 33 39 2E 32 35 35 2E 32 35
                                                35 2E 32 35 30 3A 31 39 30 30 0D 0A 4D 41 4E 3A 20 22 73 73 64 70 3A 64 69 73 63 6F 76 65 72 22 0D 0A 4D 58 3A 20 31 0D 0A 53 54 3A 20 75 72 6E 3A 64 69 61 6C 2D 6D 75 6C 74 69 73 63 72 65 65 6E 2D 6F 72
                                                67 3A 73 65 72 76 69 63 65 3A 64 69 61 6C 3A 31 0D 0A 55 53 45 52 2D 41 47 45 4E 54 3A 20 47 6F 6F 67 6C 65 20 43 68 72 6F 6D 65 2F 38 39 2E 30 2E 34 33 38 39 2E 31 </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>283</td>
                                            <td>02 00 00 00 45 00</td>
                                            <td>00 CA 7F CE 00 00</td>
                                            <td>84</td>
                                            <td>84</td>
                                            <td>192.168.1.42</td>
                                            <td>192.168.1.420</td>
                                            <td>02 00 00 00 45 00 00 F8 02 19 00 00 80 11 00 00 C0 A8 01 2A C0 A8 01 FF 00 8A 00 8A 00 E4 58 29 11 0E 84 84 C0 A8 01 2A 00 8A 00 CE 00 00 20 45 45 45 46 46 44 45 4C 46 45 45 50 46 41 43 4E 45 4C 45 4B 46 42
                                                45 4A 45 4E 44 4A 44 45 43 41 00 20 46 48 45 50 46 43 45 4C 45 48 46 43 45 50 46 46 46 41 43 41 43 41 43 41 43 41 43 41 43 41 42 4E 00 FF 53 4D 42 25 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00
                                                00 00 00 00 00 00 00 00 00 11 00 00 34 00 00 00 00 00 00 00 00 00 E8 03 00 00 00 00 00 00 00 00 34 00 56 00 03 00 01 00 00 00 02 00 45 00 5C 4D 41 49 4C 53 4C 4F 54 5C 42 52 4F 57 53 45 00 01 00 80 FC 0A
                                                00 44 45 53 4B 54 4F 50 2D 4B 4A 51 49 4D 39 34 00 0A 00 03 10 01 00 0F 01 55 AA 4F 70 74 69 6D 69 7A 61 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer content -->
<footer>
    <div class="pull-right ">
        Sniffer UPB
    </div>
    <div class="clearfix "></div>
</footer>
<!-- footer content -->
</div>
</div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js "></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js "></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js "></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js "></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js "></script>
<!-- gauge.js -->
<script src="../vendors/gauge.js/dist/gauge.min.js "></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js "></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js "></script>
<!-- Skycons -->
<script src="../vendors/skycons/skycons.js "></script>
<!-- Flot -->
<script src="../vendors/Flot/jquery.flot.js "></script>
<script src="../vendors/Flot/jquery.flot.pie.js "></script>
<script src="../vendors/Flot/jquery.flot.time.js "></script>
<script src="../vendors/Flot/jquery.flot.stack.js "></script>
<script src="../vendors/Flot/jquery.flot.resize.js "></script>
<!-- Flot plugins -->
<script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js "></script>
<script src="../vendors/flot-spline/js/jquery.flot.spline.min.js "></script>
<script src="../vendors/flot.curvedlines/curvedLines.js "></script>
<!-- DateJS -->
<script src="../vendors/DateJS/build/date.js "></script>
<!-- JQVMap -->
<script src="../vendors/jqvmap/dist/jquery.vmap.js "></script>
<script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js "></script>
<script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js "></script>
<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js "></script>
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js "></script>

<!-- Custom Theme Scripts -->
<!-- Custom Theme Scripts -->
<script src="./build/js/custom.js "></script>
<script src="./build/js/dashboard.js "></script>

<!--  <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script> -->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.bootstrap4.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>



<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        var table = $('#datosRedes').DataTable({
            responsive: true,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
            },
            dom: 'lBfrtip',
            buttons: [{
                extend: 'copyHtml5',
                text: '<i class="fa fa-copy"></i> Copiar',
                titleAttr: 'Copy'
            }, {
                extend: 'csvHtml5',
                text: '<i class="fa fa-file-excel-o"></i> Excel',
                titleAttr: 'Excel'
            }, {
                extend: 'print',
                text: '<i class="fa fa-print"></i> Print',
                titleAttr: 'Print'
            }]
        });
        table.buttons().container().appendTo($('#printbar'));
    });
</script>

</body>

</html>
